.ul-container {
    list-style-type: none;
    margin: 0;
    padding: var(--space-2xs) var(--space-s);
    padding-bottom: 0;
}

/* 
font-weight: var(--docupotamus-heading-font-weight);

/*
letterSpacing: '4px',
lineHeight: '1.2',
textAlign: 'center',
textTransform: 'uppercase',
*/

/* .EnvironmentVariables-listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EnvironmentVariables-listItem--margin {
    margin-bottom: 20px;
}

.EnvironmentVariables-listItemButton {
    color: red;
    font-size: 1rem;
}

.EnvironmentVariables-buttonGroupContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
} */